[user]
	email = akunnyakangtupes3@gmail.com
	name = agoyrobot
[safe]
	directory = /storage/emulated/0/botgavut
	directory = /storage/emulated/0/g
	directory = /storage/emulated/0/botgabut
	directory = /storage/emulated/0/botgabut
	directory = /storage/emulated/botgabut
	directory = /storage/emulated/botgabut
